
@{
    ViewBag.Title = "SuccessServiceRequest";
}
<div class="container" style="min-height:300px">
    <h3>your service request sent successfully to related service providers. Serice Providers will contact you sortly.</h3>
    <h4><a href="/Consumer/Dashboard">Go to Dashbord</a></h4>
    
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script>
    $(function () {
       
        //window.location.href = "/Consumer/Dashboard";
        
    })
</script>